body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// src/index.css
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

nav li a {
  text-decoration: none;
  color: black;
}

nav li.active a {
  font-weight: bold;
  color: blue;
} 

